project_id = "my-project-sb"
subnets = [
  {
    subnet_name      = "lzysh-vpc-us-east4"
    subnet_range     = "172.23.21.0/24"
    subnet_region    = "us-east4"
    subnet_flow_logs = "true"
  },
]
